@media (max-width: 600px) {
  
  #header {
    width: 90%;
    margin: 0 auto;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    background-image: url(../../img/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  
  }

  .TitleForm{
    padding: 14px;

  }
  
  #form-login {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    background: rgba(255, 255, 255, 0.95);
    margin-top: 30px;
  }

  .input-default{
    max-width: 90%;
    margin: 0 auto;
  }
  
  .register {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    align-items: center;
  }

  .big-button {
    width: 90%;
    height: 52px;
    margin: 0 auto;
}
  
  .pTextForm {
    font-size: 0.95rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
    
  .error-text {
    color: var(--color-300);
  }
  
  .hidden {
    display: none;
  }
}


@media (min-width: 601px) {
  #header {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    background-image: url(../../img/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  
  }
  
  #form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    gap: 0.938rem;
    width: 31.625rem;
    background: rgba(255, 255, 255, 0.95);
    margin: auto;
  }
  
  .register {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
    align-items: center;
  }
  
  .pTextForm {
    width: 340px;
    height: 22px;
    left: 509px;
    top: 333px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--color-400);
  }
  
  .TitleForm {
    width: 111px;
    height: 60px;
    left: 509px;
    top: 262px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--color-400);
    font-family: 'Inter', sans-serif;
  
  }
  
  .error-text {
    color: var(--color-300);
  }
  
  .hidden {
    display: none;
  }
}
